@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  --bg-color: #1a1b1e;
  --secondary-bg-color: #2c2d31;
  --accent-color1: #4a4b50;
  --accent-color2: #9ca0a8;
  --global-font: "Charis SIL";
  --main-height: 85%;
  --chat-width: 40%;
  --history-height: 55%;
  --prompt-width: 40%;
  --prompt-height: 50px;
  flex-wrap: wrap;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--accent-color2);
  margin: 1em 0;
  padding: 0;
}

header {
  font: var(--global-font), serif;
  color: white;
  font-size: 4em;
  background-color: var(--bg-color);
  text-align: center;
}

nav {
  font: var(--global-font), serif;
  color: var(--accent-color2);
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 20px;
}

nav h1 {
  font: var(--global-font), serif;
  color: var(--accent-color2);
  font-size: 2em;
}

body {
  background-color: var(--bg-color);
  min-width: 1600px;
  min-height: 300px;
  overflow: hidden;
  scroll-behavior: smooth;
  transform-origin: top left;
}

footer {
  bottom: 0;
  background-color: var(--secondary-bg-color);
  color: var(--accent-color2);
  position: absolute;
  width: 100%;
}

#credits {
  font: var(--global-font), serif;
  color: var(--accent-color2);
  font-size: 1em;
}

/* Class used for messages  */
div.container {
  font: var(--global-font);
  color: var(--accent-color2);
  font: var(--global-font);
  background-color: var(--secondary-bg-color);
  margin: 15px;
  padding: 10px 15px 15px;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  align-content: left;
  border-radius: 7px;
}

#main {
  display: flex;
  gap: 20em;
  justify-content: left;
  position: relative;
  min-height: var(--main-height);
  width: 100%;
}

#prompt-area {
  color: var(--accent-color2);
  height: 3em;
  align-content: left;
  position: fixed;
  bottom: 10%;
  width: var(--prompt-width);
  height: var(--prompt-height);
  background-color: var(--secondary-bg-color);
  border-radius: 100px;
  overflow-y: scroll;
}

#prompt {
  font: var(--global-font);
  font-size: 1.25em;
  padding-left: 15px;
  padding-top: 10px;
  width: var(--prompt-width) - 50px;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  outline: none;
}

/* Container that holds all messages */
#message-container {
  font: var(--global-font);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20%;
  width: var(--prompt-width);
  align-content: left;
  border-radius: 7px;
  max-height: 60%;
  overflow: scroll;
  gap: 10px;
}

#io-area {
  display: grid;
  padding: 10px 20px 10px;
}

/* Contains all history logs for current user */
#chat-history {
  display: flex;
  flex-direction: column-reverse;
  height: var(--history-height);
  width: 100%;
  justify-content: start;
  align-items: center;
}

/* Class for logging user's history */
div.history-log {
  font-size: 17px;
  width: 100%;
  background-color: var(--secondary-bg-color);
  outline: solid var(--accent-color1);
  color: var(--accent-color2);
  text-align: left;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 15px 15px;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

#history-text {
  font: var(--global-font);
  font-size: 2.5em;
  color: var(--accent-color2);
  text-align: center;
}

#history-area {
  display: grid;
  align-items: center;
  justify-content: center;
  max-height: var(--history-height);
}

/* Class used for functional buttons */
.btn-default {
  font: var(--global-font);
  background-color: var(--bg-color);
  color: var(--accent-color2);
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border-radius: 5px;
  border: 0;
  transition:
    background-color 0.3s ease,
    outline 0.3s ease;
}

.btn-default:hover {
  outline: 0.1rem var(--accent-color1) solid;
  background-color: var(--secondary-bg-color);
}
